:root{
    --th-red:#B30000;
    --th-gray:#f2f2f2;
    --th-gray-2:#867979;
}
body{
    background: white;
    /* font-family: 'Montserrat'; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

nav{
    box-shadow: 0px 6px 3px 0px #dfdcdc;
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.bg-light{
    background-color: var(--th-gray) !important;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-family: 'Montserrat';

}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--th-red);
}

.navbar-light .navbar-nav .nav-link.active{
    background: var(--th-red);
    color: white;
    font-weight: 100;
}

.header-logo{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
}

.header-logo img{
    max-width: 10rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.follow-us h3{
    font-weight: bold;
    font-size: 1.25rem;
    font-family: math;
    font-style: italic;
}

.follow-us .fa{
    padding: 0.5rem 0.8rem;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
}
.category-heading {
    width: 100%; 
    text-align: left; 
    border-bottom: 2px solid #000; 
    line-height: 0.1rem;
    margin: 10px 0 20px; 
    margin-top: 2rem;
    font-family: 'Montserrat';
 } 
 
 .category-heading span { 
     font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    width: fit-content;   
    background: var(--th-gray);
    font-family: 'Montserrat';
 }

 .category-heading .b-1{
    border-left: 15px solid var(--th-red);
}
.category-heading .b-2{
    border-left: 15px solid green;
}
.category-heading .b-3{
    border-left: 15px solid blue;
}
.category-heading .b-4{
    border-left: 15px solid purple;
}
.category-heading .b-5{
    border-left: 15px solid yellow;
}

.logo h3{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: var(--th-red);
    padding: 0.1rem;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    font-family: emoji;
}
.logo h4{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 0.5rem;
    color: black;
    font-weight: bolder;
    font-size: 1.75rem;
    font-family: emoji;
}

footer{
    background: var(--th-gray);
    font-family: 'Montserrat';
    padding: 1rem;

}
.footer-links a{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-logo {
    width: 100%;
    border-bottom: 1px solid #0000005c;
    margin-bottom: 4rem;
}

.footer-logo img {
    max-width: 10rem;
    margin-bottom: -4rem;
    background: var(--th-gray);
    /* margin: 1rem; */

}

/* Landing Page */
.news-slider .carousel-item img {
    min-height: 50vh;
    height: 25rem;
    max-height: 100vh;
    width: 100%;
    background: var(--th-gray);
  }

  .carousel-caption {
    color: white;
    background: black;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }

  .carousel-control-next, .carousel-control-prev{
    position: absolute;
    top: 50%;
    bottom: auto;
    width: auto;
    padding: 0;
    transform: translateY(-50%);
    background: black;
    opacity: 0.2;
  }

.headlines-img-grid .img{
    width: 100%;
    height: 100%;
    
    /* padding: 15px; */
        
}
.headlines-img-grid .img img{
    width: 100%;
    height: 80%;
    background: var(--th-gray);
}

.headlines-img-grid .img h6{
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 5px;
    background: white;
    height: 20%;

        
}
.headlines-img-grid-horizontal .img{
    max-height: 20vh;
}
.headlines-img-grid-horizontal .img img{
    width: 100%;
    height: 80%;
    background: var(--th-gray);
}